body {
  background-color: #0B0F1A;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.hero-section {
  min-height: 100vh;
  padding-top: 100px;
  background: radial-gradient(
    circle at 70% 40%,
    rgba(99, 102, 241, 0.15),
    transparent 40%
  );
}

.hero-title {
  font-weight: 700;
  margin-top: 20px;
  line-height: 1.2;
}

.gradient-text {
  background: linear-gradient(90deg, #6366F1, #7C3AED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-section {
  background-color: #0b0f1c;
  color: #fff;
  min-height: 100vh;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(90deg, #a78bfa, #7c3aed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-subtitle {
  color: #9ca3af;
  margin-bottom: 40px;
}

.info-card h5 {
  margin-bottom: 15px;
}

.education-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}

.gpa {
  color: #8b5cf6;
  font-weight: 600;
}

.strength-list {
  list-style: none;
  padding: 0;
}

.strength-list li {
  background: rgba(255,255,255,0.05);
  padding: 18px;
  margin-bottom: 18px;
  border-radius: 14px;
  border: 1px solid rgba(255,255,255,0.08);
  transition: 0.3s ease;
}

.strength-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(237, 30, 189, 0.3);
}


.projects-section {
  background: #0b0f1c;
  color: white;
  min-height: 100vh;
}

.project-row {
  margin-bottom: 120px;
}


.project-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.project-desc {
  color: #9ca3af;
  margin-bottom: 20px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-badge {
  padding: 6px 14px;
  border-radius: 20px;
  background: rgba(250, 39, 211, 0.144);
  font-size: 13px;
  border: 1px solid rgba(219, 26, 190, 0.559);
}

.btn-demo {
  padding: 10px 20px;
  border-radius: 12px;
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.2);
  margin-right: 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.btn-demo:hover {
  background: #7c3aed3b;
}

.btn-source {
  padding: 10px;
  text-decoration: none;
  color: #8b5cf6;
  transition: 0.2s ease-in-out;
}
.btn-source:hover{
  background: #8a5cf62e;
  border-radius: 15px;
}

.project-image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 10;
  padding: 18px;
  border-radius: 30px;
  background: linear-gradient(135deg, #6366F1, #7C3AED);
  overflow: hidden;
  transition: 0.4s ease;

}
.project-image-wrapper:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(237, 58, 225, 0.4);
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 22px;
  display: block;
}

.contact-section {
  background: radial-gradient(circle at top left, #391a406c, #22153a90);
  color: #fff;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(90deg, #7f5af0, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-subtitle {
  color: #a0a0c0;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid #2e2e50;
  background: #111129;
  color: #fff;
  outline: none;
  transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #f05ad4;
  box-shadow: 0 0 10px rgba(205, 90, 240, 0.4);
}

.contact-form button {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #7f5af0, #a855f7);
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}

.contact-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(237, 90, 240, 0.4);
}

.form-status {
  color: #a855f7;
}

.footer-section {
  border-top: 1px solid #1f2937;
  text-align: center;
  color: #6b7280;
  font-size: 0.9rem;
}
